<component name="libraryTable">
  <library name="spring.webmvc" type="repository">
    <properties maven-id="spring:spring-webmvc:1.0.2">
      <exclude>
        <dependency maven-id="spring:spring-webmvc" />
      </exclude>
    </properties>
    <CLASSES />
    <JAVADOC />
    <SOURCES />
  </library>
</component>